.Background-Image{
    height:50vw;
    width: 98.7vw;
    background:url("/src/Assets/Homeloansimg.png");
    background-size: 100vw 60vw;
    padding: 15vw 0vw 0vw 6vw;
    display:block;
}
.Main-First-text{
    color: white;
    font-weight: 600;
    font-size: 3.7vw;
}
.Main-Second-Text{
    color:var(--lightblue);
    font-size: 3vw;
    font-weight: 800;
}
#Main-Third-Text{
    font-size: 1.5vw;
    width: 45vw;
    margin-top: 1vw;
}
.First-Button{
    margin-top: 2vw;
    padding: 1vw 4vw;
    letter-spacing: 0.2vw;
    border: 0;
    border-radius:2vw;
    color: var(--lightblue);
    font-weight: 550;
}