:root {
  --blue: #2A6EB3;
  --white: #ffffff;
  --lightblue:#00adef;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color:var(--white);
}
nav{
  height: 7.5vw;
 
}
.Barnd-Title{
  margin-left: 1vw;
  font-weight: 600;
  font-size: 2vw;
  color:#2A6EB3;
}
.Navbar-Item{
  margin-left: 20vw;
}
.Navbar-Item ul{
  color: black;
}
.Navbar-Item ul li{
  margin-left: 2vw;
  font-size: 1.6vw;
  letter-spacing: 0.2vw;
  font-weight: 500;
  color: black;
}